<!-- User 1 -->
<div class="col-md-4">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <a href="profile.html"><div class="widget-user-header bg-yellow" >
      <h3 class="widget-user-username">Nadia Carmichael</h3>
      <h5 class="widget-user-desc">Lead Developer</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" src="dist/img/user7-128x128.jpg" alt="User Avatar">
    </div></a>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">3,200</h5>
            <a href="https://www.linkedin.com/"><span class="fa fa-fw fa-linkedin"></span></a>
          </div><!-- /.description-block -->
        </div><!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">258</h5>
            <span class="description-text">ENGAGEMENTS</span>
          </div><!-- /.description-block -->
        </div><!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">35</h5>
            <span class="description-text">MENTEES</span>
          </div><!-- /.description-block -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
    <!-- *** This is the hybrid part adding the rows -->
    <div class="box-footer no-padding ">
      <ul class="nav nav-stacked">
        

        <!-- This is for the star ratings -->
        <li><a href="#">
              <div class="rating">
                Mentor Rating
                <span class="pull-right">
                  <label for="reliability-1">
                      <i class="fa fa-star text-yellow"></i>
                  </label>
                  <label for="reliability-2">
                      <i class="fa fa-star text-yellow"></i>
                  </label>
                  <label for="reliability-3">
                      <i class="fa fa-star text-yellow"></i>
                  </label>
                  <label for="reliability-4">
                      <i class="fa fa-star text-yellow"></i>
                  </label>
                  <label for="reliability-5">
                      <i class="fa fa-star"></i>
                  </label>
                </span>
          </div></a></li>
        <li><a href="#">Total Ratings <span class="pull-right badge bg-blue">31</span></a></li>
        <li><a href="#">Comments <span class="pull-right badge bg-aqua">5</span></a></li>
        <li><a href="#">Skills <span class="pull-right badge bg-green">12</span></a></li>
      </ul>
    </div><!-- /hybrid part -->
  </div><!-- /.widget-user -->
</div><!-- /.col -->
